<div class="row">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a routerLink="">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">List Member</li>
        </ol>
    </nav>
</div>
<div class="content-wrapper">
	<div class="row mb-30">
        <div class="col-xs-12 col-sm-12">
            <a [routerLink]="['/member/add']">
                <div class="btn btn-primary">
                    <span class="fa fa-plus"></span>
                    THÊM MEMBER
                </div>
            </a>
        </div>
    </div>
    <div class="custom_table">
        <table datatable class="row-border hover" id="table_id" dt-instance="dtInstanceCallback" [dtOptions]='dtOptions'>
            <thead>
                <tr>
                    <th>
                    	<input type="checkbox" name="select_all" id="select-all" 
                    	(change)="selectAllEvent($event);"
                    	/>
                    </th>
                    <th>ID</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr class="row-data" *ngFor="let member of members">
                    <td><input type="checkbox" (change)="selectCheckbox($event);"/></td>
                    <td>{{ member.id }}</td>
                    <td><a [routerLink]="['/member/edit/', member.id]">{{ member.email }}</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row dels-faq">
        <div class="col-md-3">
            <select name="" class="form-control select-faq">
                <option value="1">Xóa các câu hỏi được chọn</option>
            </select>
        </div>
        <div class="col-md-3 dels-list">
            {{ length_selected }} của {{ length_all }} được chọn 
            <button class="btn btn-danger" (click)="deleteFaqEvent()">Thực hiện</button>
        </div>
    </div>
</div>