/* Global Styles
================================================== */

/* Header
================================================== */
.navbar-wrapper {
    margin-top : 65px;
}

.navbar-wrapper .inner-container {
    left     : 242px;
    position : relative;
}

.navbar-wrapper .container {
    left     : -190px;
    position : relative;
}

#navigation-bar {
    border           : none;
    background-color : rgba(34, 34, 34, 0.80);
    margin           : 0;
}

#logo {
    position         : absolute;
    width            : 200px;
    height           : 122px;
    padding          : 0;
    top              : -26px;
    background-color : red;
}

#logo:before {
    content       : " ";
    position      : absolute;
    top           : 0%;
    right         : -26px;
    width         : 0px;
    height        : 0px;
    border-bottom : 26px solid rgba(0, 0, 0, 0.5);
    border-right  : 26px solid transparent;
}

#logo:after {
    content      : " ";
    position     : absolute;
    bottom       : 0;
    right        : -26px;
    width        : 0px;
    height       : 0px;
    border-top   : 26px solid rgba(0, 0, 0, 0.5);
    border-right : 26px solid transparent;
}

#menu {
    margin-left : 220px;
    overflow    : hidden;
}

#menu > ul > li {
    margin             : 0 6px;
    display            : inline-block;
    float              : none;
    -webkit-transition : 0.5s;
    -moz-transition    : 0.5s;
    -o-transition      : 0.5s;
    -ms-transition     : 0.5s;
    transition         : 0.5s;
}

#menu > ul > li > a {
    text-align     : center;
    color          : rgba(255, 204, 255, 0);
    padding        : 25px 16px;
    position       : relative;
    z-index        : 0;
    font-size      : 16px;
    text-transform : uppercase;
    font-weight    : 400;
}

#menu > ul > li > a:before, #menu > ul > li > a:after {
    padding                 : 25px 16px;
    display                 : block;
    width                   : 100%;
    height                  : 100%;
    position                : absolute;
    text-align              : center;
    color                   : #fff;
    left                    : 0;
    top                     : 0;
    -webkit-transform-style : preserve-3d;
    -moz-transform-style    : preserve-3d;
    -ms-transform-style     : preserve-3d;
    transform-style         : preserve-3d;
    -webkit-transition      : 0.5s;
    -moz-transition         : 0.5s;
    -o-transition           : 0.5s;
    -ms-transition          : 0.5s;
    transition              : 0.5s;
    -webkit-perspective     : 800;
}

#menu > ul > li.active {
    -webkit-transform : scale(1.2);
    -moz-transform    : scale(1.2);
    -o-transform      : scale(1.2);
    -ms-transform     : scale(1.2);
    transform         : scale(1.2);
}

#menu > ul > li:hover {
    -webkit-transform : scale(1.2);
    -moz-transform    : scale(1.2);
    -o-transform      : scale(1.2);
    -ms-transform     : scale(1.2);
    transform         : scale(1.2);
}

#menu > ul > li.active.home > a, #menu > ul > li.home:hover, #menu > ul > li.home > a:hover:after {
    background-color : #eb1c23;
}

#menu > ul > li.active.portfolio > a, #menu > ul > li.portfolio:hover, #menu > ul > li.portfolio > a:hover:after {
    background-color : #80b536;
}

#menu > ul > li.active.about > a, #menu > ul > li.about:hover, #menu > ul > li.about > a:hover:after {
    background-color : #2e3947;
}

#menu > ul > li.active.team > a, #menu > ul > li.team:hover, #menu > ul > li.team > a:hover:after {
    background-color : #00bf73;
}

#menu > ul > li.active.client > a, #menu > ul > li.client:hover, #menu > ul > li.client > a:hover:after {
    background-color : #face2f;
}

#menu > ul > li.active.blog > a, #menu > ul > li.blog:hover, #menu > ul > li.blog > a:hover:after {
    background-color : #232829;
}

#menu > ul > li.active.contact > a, #menu > ul > li.contact:hover, #menu > ul > li.contact > a:hover:after {
    background-color : #d6d6d6;
}

#menu > ul > li.active.login > a, #menu > ul > li.login:hover, #menu > ul > li.login > a:hover:after {
    background-color : #102882;
}

#menu > ul > li > a:before {
    content                     : attr(data-title);
    -webkit-backface-visibility : hidden;
    -webkit-transform           : rotateX(0deg) translateZ(-25px);
    -moz-transform              : rotateX(0deg) translateZ(-25px);
    -o-transform                : rotateX(0deg) translateZ(-25px);
    -ms-transform               : rotateX(0deg) translateZ(-25px);
    transform                   : rotateX(0deg) translateZ(-25px);
}

#menu > ul > li > a:after {
    content           : attr(data-title);
    -webkit-transform : rotateX(90deg) translateZ(25px);
    -moz-transform    : rotateX(90deg) translateZ(25px);
    -o-transform      : rotateX(90deg) translateZ(25px);
    -ms-transform     : rotateX(90deg) translateZ(25px);
    transform         : rotateX(90deg) translateZ(25px);
    color             : #fff;
}

#menu > ul > li > a:hover:before {
    -webkit-transform : rotateX(90deg) translateZ(-25px);
    -moz-transform    : rotateX(90deg) translateZ(-25px);
    -o-transform      : rotateX(90deg) translateZ(-25px);
    -ms-transform     : rotateX(90deg) translateZ(-25px);
    transform         : rotateX(90deg) translateZ(-25px);
}

#menu > ul > li > a:hover:after {
    -webkit-transform : rotateX(0deg) translateZ(25px);
    -moz-transform    : rotateX(0deg) translateZ(25px);
    -o-transform      : rotateX(0deg) translateZ(25px);
    -ms-transform     : rotateX(0deg) translateZ(25px);
    transform         : rotateX(0deg) translateZ(25px);
    background-color  : #eb1c23;
}

.centered {
    text-align : center;
}

.sticky-menu {
    position          : fixed !important;
    z-index           : 9999 !important;
    margin-top        : 5px !important;

    -webkit-animation : fadeInDown 500ms;
    -moz-animation    : fadeInDown 500ms;
    -ms-animation     : fadeInDown 500ms;
    -o-animation      : fadeInDown 500ms;
    animation         : fadeInDown 500ms;
}

.navbar-wrapper.sticky-menu .container {
    left : -190px;
}

.sticky-menu #logo {
    display : none;
}

.sticky-menu .inner-container {
    left  : 0 !important;
    right : 0 !important;
}


#bottom {
    background : #232829;
    display    : block;
    min-height : 200px;
    margin-top : -100px;
    padding    : 100px 0;
    position   : relative;
}

#bottom .social-shares ul {
    margin : 0;
}

.copyright {
    float       : right;
    font-size   : 18px;
    margin-top  : 18px;
    font-weight : 400;
    position    : relative;
}

a#to-top {
    background  : url(./../assets/images/to-top.png) 0 0 no-repeat;
    width       : 50px;
    height      : 50px;
    position    : absolute;
    right       : 10px;
    top         : 10px;
    text-indent : -9999em;
}

/* Customize The Navbar
--------------------------------------------------*/
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
    position : absolute;
    top      : 0;
    left     : 0;
    right    : 0;
    z-index  : 20;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .container {
    padding-left  : 0;
    padding-right : 0;
}

.navbar-wrapper .navbar {
    padding-left  : 15px;
    padding-right : 15px;
}
/* Social */
.social-shares ul {
    padding    : 0;
    list-style : none;
    margin     : 20px 0;
}

.social-shares li {
    float : left;
}

.social-shares li a {
    color : #fff;
}

.social-shares li:last-child {
    clear : right;
}

.social-shares li i {
    font-size          : 30px;
    height             : 64px;
    width              : 64px;
    line-height        : 64px;
    text-align         : center;

    -webkit-transition : all 400ms ease-out;
    -moz-transition    : all 400ms ease-out;
    -o-transition      : all 400ms ease-out;
    -ms-transition     : all 400ms ease-out;
    transition         : all 400ms ease-out;
}

.social-shares li i:hover {
    background : #fff !important;
}

.social-shares li i.fa-twitter {
    background : #62CDF1;
}

.social-shares li i.fa-twitter:hover {
    color : #62CDF1;
}

.social-shares li i.fa-facebook {
    background : #507CBD;
}

.social-shares li i.fa-facebook:hover {
    color : #507CBD;
}

.social-shares li i.fa-google-plus {
    background : #4E4F54;
}

.social-shares li i.fa-google-plus:hover {
    color : #4E4F54;
}

.social-shares li i.fa-skype {
    background : #36C4F4;
}

.social-shares li i.fa-skype:hover {
    color : #36C4F4;
}




/* *** LOGIN MODAL *** */

.loginmodal-container {
  padding: 30px;
  max-width: 350px;
  width: 100% !important;
  background-color: #F7F7F7;
  margin: 0 auto;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  font-family: roboto;
}

.loginmodal-container h1 {
  text-align: center;
  font-size: 1.8em;
  font-family: roboto;
}

.loginmodal-container input[type=submit] {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  position: relative;
}

.loginmodal-container input[type=text], input[type=password] {
  height: 44px;
  font-size: 16px;
  width: 100%;
  margin-bottom: 10px;
  -webkit-appearance: none;
  background: #fff;
  border: 1px solid #d9d9d9;
  border-top: 1px solid #c0c0c0;
  /* border-radius: 2px; */
  padding: 0 8px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.loginmodal-container input[type=text]:hover, input[type=password]:hover {
  border: 1px solid #b9b9b9;
  border-top: 1px solid #a0a0a0;
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
}

.loginmodal {
  text-align: center;
  font-size: 14px;
  font-family: 'Arial', sans-serif;
  font-weight: 700;
  height: 36px;
  padding: 0 8px;
/* border-radius: 3px; */
/* -webkit-user-select: none;
  user-select: none; */
}

.loginmodal-submit {
  /* border: 1px solid #3079ed; */
  border: 0px;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,0.1); 
  background-color: #4d90fe;
  padding: 17px 0px;
  font-family: roboto;
  font-size: 14px;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#4787ed)); */
}

.loginmodal-submit:hover {
  /* border: 1px solid #2f5bb7; */
  border: 0px;
  text-shadow: 0 1px rgba(0,0,0,0.3);
  background-color: #357ae8;
  /* background-image: -webkit-gradient(linear, 0 0, 0 100%,   from(#4d90fe), to(#357ae8)); */
}

.loginmodal-container a {
  text-decoration: none;
  color: #666;
  font-weight: 400;
  text-align: center;
  display: inline-block;
  opacity: 0.6;
  transition: opacity ease 0.5s;
} 

.login-help{
  font-size: 12px;
}
